body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    background: #009b5f;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.converter {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 95%;
    box-sizing: border-box;
}

input:focus, select:focus, button:focus {
    border-color: #00ff6a;
    box-shadow: 0 0 5px rgba(0, 255, 106, 0.5);
}

button {
    background-color: #367000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00550b;
}

p {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

span {
    margin: 0 5px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    input, select, button {
        margin: 5px 0;
        padding: 8px;
        font-size: 0.9em;
        width: 100%;
    }

    button {
        padding: 10px;
    }

    p {
        font-size: 1em;
    }

    span {
        font-size: 1em;
    }
}
